.bisu--react-row-search {
  .display .form-control {
    color: $brand-primary;
  }
  .form-control,
  .form-control:focus {
    box-shadow: none;
  }
  .input-group-btn .btn-icon {
    font-size: 24px;
    padding: 0 10px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: $gray-light;

    &:focus,
    &:hover {
      color: #000;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}
