.bisu--react-row-search {
  .input-group-btn {
    font-size: 24px;

    button {
      border: 0;
      padding: 0;
      padding-right: 10px;
      outline: 0;
      background-color: transparent;
      color: $gray-light;
      display: block;
      margin-top: -15px;

      svg {
        margin-top: 10px;
      }

      &:focus:enabled,
      &:hover:enabled {
        color: #121212;
      }
      &:active:enabled {
        transform: translateY(1px);
      }
    }
  }

  .display .form-control {
    color: $brand-primary;
  }
}
